<div class="app-header header-shadow">

    <!-- Inicio Poner logo -->

    <div class="app-header__logo">
        <!--  <div class="logo-src">
            <img class="img-fluid mt-0" style="height:35px;" src="assets/Content/images/logos/logo_unah_titulo.png" alt="">

        </div> -->
        <img class="img-fluid mt-0" style="height:35px;" src="assets/Content/images/logos/logo_unah_titulo.png" alt="">


        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
            </div>
        </div>
    </div>

    <!-- Fin poner Logo -->

    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
              <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
              </span>
          </button>
        </div>
    </div>

    <div class="app-header__menu">
        <span>
          <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
              <span class="btn-icon-wrapper">
                  <i class="fa fa-ellipsis-v fa-w-6"></i>
              </span>
        </button>
        </span>
    </div>

    <!--  Opciones navbar  -->

    <div class="app-header__content">

        <!-- Inicio Busqueda y opciones despues del boton busqueda -->

        <div class="app-header-left">
            <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search">
                    <button class="search-icon"><span></span></button>
                </div>
                <button class="close"></button>
            </div>
            <ul class="header-menu nav">
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fas fa-search"> </i> Statistics
                    </a>
                </li>
                <li class="btn-group nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-edit"></i> Projects
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-cog"></i> Settings
                    </a>
                </li>
            </ul>
        </div>

        <!-- Final Busqueda y opciones despues del boton busqueda -->


        <!-- Inicio opciones perfil -->

        <div class="app-header-right">

            <app-profile></app-profile>

        </div>



        <!-- Final opciones perfil -->

    </div>



</div>