<div class="header-btn-lg pr-0">
    <div class="widget-content p-0">
        <div class="widget-content-wrapper">
            <div class="widget-content-left">
                <!-- Example single danger button -->
                <!--  <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">Perfil</a>
                        <a class="dropdown-item">Ajustes</a>
                        <a (click)="salir()" class="dropdown-item">Salir</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div> -->
                <div class="btn-group">
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                        <img width="42" class="rounded-circle" src="assets/Content/images/avatars/user.png" alt="">
                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                    </a>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"> <i class="fa fa-user"></i> User Account</button>
                        <button type="button" tabindex="0" class="dropdown-item"> <i class="fas fa-user-cog"></i> Settings</button>
                        <a (click)="salir()" routerLinkActive="router-link-active" tabindex="0" class="dropdown-item"> <i class="fas fa-user-cog"></i> salir</a>
                        <h6 tabindex="-1" class="dropdown-header">Header</h6>

                        <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                    </div>
                </div>
            </div>
            <div class="widget-content-left  ml-3 header-user-info">
                <div class="widget-heading">
                    Angel González
                </div>
                <div class="widget-subheading">
                    Software Developer
                </div>
            </div>
            <!-- <div class="widget-content-right header-user-info ml-3">
                  <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                    <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                </button>
              </div> -->
        </div>
    </div>
</div>