﻿.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th 
{
    padding:1px;
}
@media screen {
    body {
        background: rgb(204,204,204);
    }
    page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        padding: 1cm;
    }

        page[size="letter"] {
            width: 21.5cm;
            min-height:27.9cm;
        }
}

@media print{
    @page {
        size: letter portrait;
        margin: 1cm;
    }
    .page-break-after {
        display: block;
        page-break-after: always !important;
    }
    .page-break-before {
        display: block;
        page-break-before: always !important;
    }

    footer{
        position:absolute;
        bottom:0px;
    }
}


