﻿th span, td span.bold{
    font-weight:bold;
}

.required{
    color:red;
}

 

.disabled {
  pointer-events: none;
}

.modal-xlg{
    width:90%;
}

.alertify, .alertify .alert, .alertify .dialog{
    z-index: 10000;
}

.border-custom {
    border: 1px ridge grey;
}

.table-header-custom-ticket {
    font-size: 32px;
}

.table-child-custom-ticket {
    font-size: 28px;
}

/*@media only screen and (max-width: 600px) {


    div.containeraCanvas {
        position: absolute;
        width: 360px;
        height: 300px;
        overflow: auto;
    }
    #c.containeraCanvas {
 
    }
  

}*/

#containeraCanvas {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 1px;
    overflow: auto;
}

 

/*------>>> Animations <<<-----*/
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    transition-delay: 0.25s;
}

    .fade.in {
        opacity: 1;
    }

.animate-switch-container {
    position: relative;
    overflow: hidden;
    /*
    height: 500px;
    width: 550px;
    border: solid 0.5px black;
    box-shadow: 6px 6px 15px gray;*/
    padding: 10px;
    border-radius: 10px;
    background-size: 50px 50px;
}

.animate-switch {
   padding: 10px;
    width: 100%;
}

    .animate-switch.ng-animate {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
    }
    /* hide leaving slide  */
    /* show */
    .animate-switch.ng-leave {
        left: 0;
    }
/* hide */
.forward .animate-switch.ng-leave.ng-leave-active {
    left: -100%;
}

.backward .animate-switch.ng-leave.ng-leave-active {
    left: 100%;
}
/* show entering slide  */
/* hide */
.forward .animate-switch.ng-enter {
    left: 100%;
}

.backward .animate-switch.ng-enter {
    left: -100%;
}
/* show */
.animate-switch.ng-enter.ng-enter-active {
    left: 0;
}


/*-----------------------------------*/
/*------>>> Validation <<<-----------*/
/*-----------------------------------*/

.form-validation input.ng-invalid-maxlength {
    border: 2px solid #D9272D;
}


.length-error {
    color: #D9272D;
    display: block;
    font-size: 12px;
    opacity: .8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    line-height: 18px;
    padding: 10px 10px 5px 10px;
    margin: -25px 0 20px 0;
    background-color: #E3E3E3;
    border-radius: 0 0 5px 5px;
}

.input-error {
    border: 2px solid #D9272D;
}

/*-----------------------------------*/
/*------->>> FORM STYLES <<<---------*/
/*-----------------------------------*/

.note {
    display: block;
    font-size: 12px;
    opacity: .8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    line-height: 18px;
}

.note-input {
    padding: 10px 10px 5px 10px;
    margin: -25px 0 20px 0;
    background-color: #E3E3E3;
    border-radius: 0 0 5px 5px;
}

.note-input-error, .required-error-banner {
    background-color: rgba(217, 39, 45, 0.5);
}

/*-----------------------------------*/
/*----------->>> HELPERS <<<-------------*/
/*-----------------------------------*/

/*
    Allow angular.js to be loaded in body, hiding cloaked elements until
    templates compile.  The !important is important given that there may be
    other selectors that are more specific or come later and might alter display.
   */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/*fieldset {
    width: 95%;
 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    min-width: 0;
}*/

/*fieldset div {
    border: 1px solid #BBB;
    width: 100%;
    margin: 5px;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    text-align: center;
}*/

/*#odontograma {
    width: 1024px; 
    height: 800px;   
}*/

#canvasContanier {
    border-style: solid;
}