<div class="app-wrapper-footer">
    <div class="app-footer">




        <div class="app-footer__inner">



            <!--  <div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                              Footer Link 1
                          </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                              Footer Link 2
                          </a>
                    </li>
                </ul>
            </div> -->
            <p></p>
            <div class="app-footer-right">
                <ul class="nav">
                    <li class="nav-item">
                        <p href="#" class="nav-link">
                            <strong>Copyright &copy; Fabricio {{fecha}}</strong>
                        </p>
                    </li>
                    <!--  <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                              Footer Link 3
                          </a>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>
</div>